extends layout

block body
  .home-hero
    .left
      img.hero(src="/img/cool-code-club.png")
    .right
      h1 ???
      p Web development is a skillset built entirely on sharing.

      p Nearly everyone who builds websites learned using tools made by incredibly generous people who wanted to share their craft with the world.

      p Cool Code Club is a weekly meetup for learning web development, creating cool things and good old fashioned nerding out.

      p It's completely free. But there's a twist.

      h1 !!!

      p Shh, it's a good twist. Each week we'll ask for a donation, put towards buying laptops for underprivileged children, asylum seekers and refugees.

      p We'll also ask you to consider passing on your new-found skills to these people. It's easier than you think.

      h1 Who!

      p You! Plus James' cool mates and mates of James' cool mates! 
      .tix
        h1 Details!
        a.btn.cool(href="https://www.eventbrite.com.au/e/cool-code-club-tickets-22162301039", target="_blank") GET TIX

      ul
        li 
          strong When: 
          | Every Monday, 6pm - 8.30pm
        li
          strong Where: 
          | Collective Campus, Level 1 / 20 Queen St Melbourne 
        li
          strong Bring: 
          | A laptop, a few bucks for pizza, a few bucks for bevvies
        li 
          strong What: 
          | You can work on any project you like. If you don't have any ideas, James will make up a weird one for you.
        

//
  script(src='/js/lib.min.js')
  script(src='/js/app.js')
  script(src='/js/services.js')
  script(src='/js/toolbeltService.js')
  script(src='/js/controllers.js')
  script(src='/js/filters.js')
  script(src='/js/directives.js')
  
  // script.
  // Google Analytics Script Goes Here