doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Cool Code Club
    link(href="/css/font-awesome.min.css", rel="stylesheet")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:700|Gravitas+One|Lato:100,200,300,900|Open+Sans:300,400,600,700,800|Oswald:700", rel="stylesheet", type="text/css")

    link(href='/css/normalize.css', rel='stylesheet', )
    link(href='/css/app.css', rel='stylesheet', )
    
  body(layout="column")
    block body